{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      },
    ]
  ],
  "plugins": [
    // [
    //   "@dr.pogodin/babel-plugin-react-css-modules",
    //   {
    //     "generateScopedName": "babel-cfg__[name]__[local]___[hash:base64:5]"
    //   }
    // ],
    ["styled-components", { "ssr": true }]
    // [
    //   "prismjs",
    //   {
    //     "languages": ["javascript", "css", "html", "json", "bash"],
    //     "plugins": ["line-numbers", "show-language"],
    //     "css": true
    //   }
    // ]
  ],
  "compact": true
}
