@import '~/mui/scss-vars/monitors.scss';
@import '~/mui/scss-vars/colors.scss';

.wrapper {
  border-radius: 0px;
  // box-shadow: 0 5px 10px 0px rgba(7, 7, 7, 0.3);
  // border: 2px solid #E8E8E8;
  // border-right: 1px solid #E8E8E8;
}
.ratingAndControlsExternalWrapper {
  display: flex;
  // flex-wrap: wrap;
  gap: 8px;
  // border: 1px solid red;
  padding: 8px 8px 0 0px;
  align-items: center;
  justify-content: flex-start;

  // background-color: #F8F8F8;
}
@media(max-width: #{$sm}px) {
  .ratingAndControlsExternalWrapper {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media(min-width: calc(#{$sm + 1}px + 1px)) {
  .ratingAndControlsExternalWrapper {
    border-radius: 0;
  }
}

.controlsWrapper {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  // padding: 8px;
  // background: #E8E8E8;

  display: flex;
  gap: 8px;
  // flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.rating {
  margin-right: auto;

  display: flex;
  align-items: center;
}
@media(max-width: #{$sm}px) {
  .rating {
    // padding-top: 4px;
    padding-left: 8px;
    // padding-bottom: 8px;
    // justify-content: center;
    align-items: center;
    // width: 100%;
  }
}
@media(min-width: calc(#{$sm + 1}px + 1px)) {
  .rating {
    padding-left: 8px;
  }
}
.bodyWrapper {
  padding: 8px 8px 8px 8px;
  // background-color: #F8F8F8;

  .bodyContent {
    font-size: 14px;
    font-weight: bold;
  }

  // border-radius: inherit;
  // border-top-right-radius: 0;
  // border-top-left-radius: 0;

  // border-top: 1px solid #E8E8E8;

  &_warning {
    border-top: none;
    // background-color: $color-mui-warning;
    // color: #000;
  }
  &_info {
    border-top: none;
    // background-color: $color-mui-primary;
    // color: #fff;
  }
  &_success {
    border-top: none;
    // background-color: $color-mui-success;
    // color: #fff;
  }
  &_danger {
    border-top: none;
    // background-color: $color-mui-danger;
    // color: #fff;
  }
  &_isDone {
    border-top: none;
    // background-color: #E8E8E8;
    // color: #000;
  }
}

.descriptionWrapper {
  padding: 8px;
  font-size: 13px;
}

