@media (max-width: 600px) {
  .article-page-title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
  }
  /* .code-toolbar {
    transform: translateX(-20px);
    width: calc(100% + 40px);
  } */
  .description-markdown pre {
    transform: translateX(-16px);
    width: calc(100% + 32px);
  }
}
@media (min-width: 601px) {
  .article-page-title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
  }
}
.article-page-title > * {
  margin-bottom: 0;
}
.article-page-title > p > * {
  text-transform: none !important;
}
.article-wrapper__big-image-as-container__brief > * {
  line-height: 1.5em;
  margin: 0;
}

.card-title {
  margin-top: 10px;
}

/* NEW 2020.12 */
.description-markdown img {
  transition: max-width 0.3s;
  margin: 0 auto;
  display: block;

  border-radius: 4px;
}
.description-markdown img.small {
  max-width: 550px;
}
.description-markdown img.large {
  max-width: 100%;
}

/* BLOCKQUOTE */
.description-markdown .otro-blockquote {
  /* font-size: 1.4em; */
  font-size: 0.75em;
  /* max-width: 100%; */
  max-width: 550px;
  border-radius: 8px;
  margin: 10px auto 20px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  /* padding: 1.2em 30px 1.2em 75px; */
  padding: 1.2em 30px 1.2em 50px;
  border-left: 8px solid #dedede;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}
/* .description-markdown .otro-blockquote h2 {
  margin-top: 0;
} */
.description-markdown .otro-blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: darkgray;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
/* .description-markdown .otro-blockquote::after {
  content: '';
} */
.description-markdown .otro-blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.description-markdown pre {
  border-radius: 8px;
  margin-bottom: 20px !important;
}
@media (max-width: 600px) {
  .description-markdown pre {
    border-radius: 0px;
  }
}
@media (min-width: 601px) {}
.description-markdown pre:first-child {
  margin-top: 0px !important;
}
.description-markdown pre code {
  box-shadow: unset;
  padding-left: 0px !important;
}
.description-markdown ul {
  /* margin: 16px 8px 16px 16px; */
  list-style-type: none;
}
.description-markdown ol li::marker {
  font-weight: bold;
}
/* .description-markdown ol li {
  font-weight: bold;
} */
/*
.description-markdown ul li input[type='checkbox'] {
  transform: translateY(5px);
}
*/
.description-markdown ul ul {
  margin: 8px 0 8px 16px;
  list-style-type: none;
}
.description-markdown ul input[type='checkbox'] {
  margin-right: 8px;
}
.description-markdown > table {
  margin-bottom: 16px;
  border-collapse: collapse;
}
.description-markdown > table,
.description-markdown > table th,
.description-markdown > table td {
  border: 1px solid lightgray;
}
.description-markdown > table th,
.description-markdown > table td {
  padding: 5px;
}
.description-markdown img {
  transition: max-width 0.3s;
  margin: 0 auto;
  display: block;
  object-fit: contain;

  border-radius: 16px;
}

@media (max-width: 900px) {
  .description-markdown img.small {
    /* width: 100%;
    min-width: 250px;
    max-width: 270px; */
    border-radius: 0px;
    width: calc(100% + 32px);
    transform: translateX(-16px);
    max-width: calc(100% + 32px);
  }
}
@media (min-width: 901px) {
  .description-markdown img.small {
    width: 100%;
    min-width: 350px;
    max-width: 550px;
  }
}

@media (max-width: 900px) {
  .description-markdown img.large {
    border-radius: 0px;
    width: calc(100% + 32px);
    transform: translateX(-16px);
    max-width: calc(100% + 32px);
  }
}
@media (min-width: 901px) {
  .description-markdown img.large {
    max-width: 100%;
    width: 100%;
  }
}

.custom-html-style code {
  box-shadow: unset;
}
/* .rc-md-editor {
  margin-bottom: 15px;
} */
.ui.form textarea:not([rows]) {
  max-height: unset;
}

.custom-html-style > pre {
  margin-left: 0;
  margin-right: 0;
}

/* .description-markdown input[type='checkbox'],
.description-markdown input[type='checkbox']::before,
.description-markdown input[type='checkbox']::after {
  all: unset;
}
.description-markdown input[type='checkbox'] {
  display: block;
  position: relative;
  width: 70px;
  height: 15px;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.description-markdown input[type='checkbox']:checked {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1),
    0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.description-markdown input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: calc(70px - 20px);
  height: 15px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}
.description-markdown input[type='checkbox']:checked::before {
  left: 20px;
}
.description-markdown input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: calc(30px - 15px);
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
}
.description-markdown input[type='checkbox']:checked::after {
  left: calc(55px + 0px);
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
} */

.rc-md-editor {
  padding-bottom: 0px;
}
/* .rc-md-editor .editor-container .sec-md .input {
  min-height: inherit;
  resize: vertical;
} */

.mobile-search-box {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
/* .mobile-search-box > *:not(:last-child) {
  margin-bottom: 8px;
} */
.mobile-search-box > * {
  margin-bottom: 8px;
}

code,
.inline-code {
  background: #c84f4f;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 1px 4px;
}

/* --- MOVED FROM CSS-IN-JS --- */

.article-wrapper {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 1), transparent);
  display: block;
  position: relative;
}
.article-wrapper::after {
  content: '';

  /* background: url(${article.bgSrc}); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.article-wrapper__big-image-as-container {
  border-radius: 0;
  width: 100%;
  min-height: 250px;
  /* margin: 10px 0 50px 0; */
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 961px) {
  .article-wrapper,
  .article-wrapper::after {
    border-radius: 8px;
  }
  .article-wrapper__big-image-as-container {
    /* margin: 50px 0 50px 0; */
    border-radius: 8px;
  }
}
.article-wrapper__big-image-as-container > * {
  margin: 0;
  padding: 16px;
}
.article-wrapper__big-image-as-container__brief {
  margin-bottom: 30px;
  line-height: 1em;
  font-family: Montserrat;
  font-style: italic;
}
.article-wrapper__big-image-as-container__date {
  text-align: right;
}
