body main.light .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #dedede;
}
body main.gray .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #683434;
}
body main.hard-gray .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #888;
}
body main.dark .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #fff;
}