body main.light .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #dedede;
}
body main.gray .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #683434;
}
body main.hard-gray .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #888;
}
body main.dark .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #fff;
}

@media (max-width: 768px) {
  .description-markdown .blog-standard-blockquote pre {
    transform: translateX(-16px) !important;
    width: calc(100% + 32px + 16px) !important;
    padding: 16px !important;
    border-radius: 0px !important;
  }
}