.articleListWrapper {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;

  grid-auto-flow: dense;
}
/* h1, h2, h3, h4, h5 { line-break: anywhere; } */
@media (max-width: 767px) {
  .articleListWrapper {
    grid-template-columns: minmax(250px, 1fr);
  }
}
@media (min-width: 768px) {
  .articleListWrapper {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.gridItemBg {
  object-fit: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gridItemBox {
  transition: all;
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: '';
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
body main.light .gridItemBox {
  background: linear-gradient(rgba(1, 98, 200, 0.9) 30%, rgba(1, 98, 200, 0.65) 60%, rgba(1, 98, 200, 0.9) 100%);
}
body main.gray .gridItemBox {
  background: linear-gradient(rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.85) 100%);
}
body main.hard-gray .gridItemBox {
  background: linear-gradient(rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.85) 100%);
}
body main.dark .gridItemBox {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.gridItemTitle {
  max-width: 100%;
}
.gridItemDescription {
  margin-bottom: 24px;
  height: 100%;
  font-size: 0.8em;
}
.gridItemAction {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.gridItemAction > div:last-child {
  margin-left: auto;
}
