body main .edna-exp-container {
  border-radius: 16px;
  box-shadow: none;
}
body main .edna-exp-container h1,
body main .edna-exp-container h2,
body main .edna-exp-container h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

body main.light .edna-exp-container {
  color: inherit;
  background-color: #ededed;
}
body main.light .edna-exp-container .widget-adapter-content {
  background-color: rgba(0,0,0,0.1);
}

body main.gray .edna-exp-container {
  color: inherit;
  background-color: #ededed;
}
body main.gray .edna-exp-container .widget-adapter-content {
  background-color: rgba(255, 255, 255, 1);
}

body main.hard-gray .edna-exp-container {
  color: inherit;
  background-color: gray;
}
body main.hard-gray .edna-exp-container .widget-adapter-content {
  background-color: rgba(0, 0, 0, .5);
}

body main.dark .edna-exp-container {
  color: inherit;
  background-color: rgba(255,255,255,.25);
}
body main.dark .edna-exp-container .widget-adapter-content {
  background-color: rgba(0,0,0,0.2);
}
