.swal2-progressline,
.swal2-progress-step-line {
  transform: translate(0, -50%);
}
/*
.swal2-title, .swal2-popup .swal2-textarea, .swal2-popup .swal2-input, .swal2-popup .swal2-select {
  font-family: Montserrat;
  background-color: inherit;
  color: inherit;
}
@media (min-width: 767px) {
  .swal2-popup .swal2-textarea {
    min-height: 16.5em;
  }
}
*/
.swal2-textarea {
  resize: vertical;
  min-height: 16.5em;
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeInFromNone 1.5s ease-out;
  color: rgba(0, 0, 0, 0.2);
}
.fullWidth {
  width: 100%;
}
@media (max-width: 767px) {
  .fullWidth {
    width: 100%;
  }
}

.swal2-actions > button {
  border-radius: 8px !important;
}
