@import '~/mui/scss-vars/monitors.scss';

@media(max-width: #{$sm}px) {
  .articlePageTitle {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
  }
  /* .code-toolbar {
    transform: translateX(-20px);
    width: calc(100% + 40px);
  } */
  .description-markdown pre {
    transform: translateX(-16px);
    width: calc(100% + 32px);
  }
}
@media (min-width: calc(#{$sm}px + 1px )) {
  .articlePageTitle {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
  }
}

.articlePageTitle > * {
  margin-bottom: 0;
}
.articlePageTitle > p > * {
  text-transform: none !important;
}
.articleWrapperBigImageAsContainerBrief {
  margin-bottom: 30px;
  line-height: 1em;
  font-family: Montserrat;
  font-style: italic;
}

.articleWrapperBigImageAsContainerBrief > * {
  line-height: 1.5em;
  margin: 0;
}

.card-title {
  margin-top: 10px;
}

/* NEW 2020.12 */
.description-markdown img {
  transition: max-width 0.3s;
  margin: 0 auto;
  display: block;

  border-radius: 4px;
}
.description-markdown img.small {
  max-width: 550px;
}
.description-markdown img.large {
  max-width: 100%;
}

/* BLOCKQUOTE */
.description-markdown .otro-blockquote {
  /* font-size: 1.4em; */
  /* font-size: 1em; */
  /* max-width: 100%; */
  /* max-width: 550px; */
  border-radius: 8px;
  margin: 10px auto 20px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  /* padding: 1.2em 30px 1.2em 75px; */
  padding: 1.2em 30px 1.2em 50px;
  border-left: 8px solid #dedede;
  line-height: 1.6;
  position: relative;
  background: #ededed;
  white-space: pre-wrap;
}
/* .description-markdown .otro-blockquote h2 {
  margin-top: 0;
} */
.description-markdown .otro-blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: darkgray;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
/* .description-markdown .otro-blockquote::after {
  content: '';
} */
.description-markdown .otro-blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.description-markdown pre {
  border-radius: 8px;
  margin-bottom: 20px !important;
}
@media(max-width: #{$sm}px) {
  .description-markdown pre {
    border-radius: 0px;
  }
}
.description-markdown pre:first-child {
  margin-top: 0px !important;
}
.description-markdown pre code {
  box-shadow: unset;
  padding-left: 0px !important;
}
.description-markdown ul {
  margin: 15px 0 15px 15px;
  list-style-type: none;
}
/*
.description-markdown ul li input[type='checkbox'] {
  transform: translateY(5px);
}
*/
.description-markdown ul ul {
  margin: 5px 0 5px 15px;
  list-style-type: none;
}
.description-markdown ul input[type='checkbox'] {
  margin-right: 10px;
}
.description-markdown > table {
  margin-bottom: 15px;
  border-collapse: collapse;
}
.description-markdown > table,
.description-markdown > table th,
.description-markdown > table td {
  border: 1px solid lightgray;
}
.description-markdown > table th,
.description-markdown > table td {
  padding: 5px;
}
.description-markdown img {
  transition: max-width 0.3s;
  margin: 0 auto;
  display: block;
  object-fit: contain;

  border-radius: 8px;
}

@media(max-width: #{$sm}px) {
  .description-markdown img.small {
    width: 100%;
    min-width: 250px;
    max-width: 270px;
  }
}
@media (min-width: calc(#{$sm}px + 1px )) {
  .description-markdown img.small {
    width: 100%;
    min-width: 350px;
    max-width: 550px;
  }
}

.description-markdown img.large {
  max-width: 100%;
  width: 100%;
}

.custom-html-style code {
  box-shadow: unset;
}
/* .rc-md-editor {
  margin-bottom: 15px;
} */
.ui.form textarea:not([rows]) {
  max-height: unset;
}

.custom-html-style > pre {
  margin-left: 0;
  margin-right: 0;
}

.rc-md-editor {
  padding-bottom: 0px;
}

.articleWrapperBigImageAsConteiner {
  border-radius: 0;
  width: 100%;
  min-height: 250px;
  /* margin: 10px 0 50px 0; */
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: calc(#{$md}px + 1px )) {
  .external-article-wrapper {
    border-radius: 10px;
  }
  .articleWrapperBigImageAsConteiner {
    /* margin: 50px 0 50px 0; */
    border-radius: 10px;
  }
}
.articleWrapperBigImageAsConteiner > * {
  margin: 0;
  padding: 20px;
}
.articleWrapperBigImageAsContainerBrief {
  margin-bottom: 30px;
  line-height: 1em;
  font-family: Montserrat;
  font-style: italic;
}
.articleWrapperBigImageAsContainerDate {
  text-align: right;
}

.article-wrapper__big-image-as-container {
  border-radius: 0;
  width: 100%;
  min-height: 250px;
  // margin: 10px 0 50px 0;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: calc(#{$md}px + 1px )) {
  .external-article-wrapper {
    border-radius: 10px;
  }
  .article-wrapper__big-image-as-container {
    // margin: 50px 0 50px 0;
    border-radius: 10px;
  }
}
.article-wrapper__big-image-as-container > * {
  margin: 0;
  padding: 20px;
}
.articleWrapperBigImageAsContainerDate {
  text-align: right;
}