@import '~/mui/scss-vars/monitors.scss';
@import '~/mui/scss-vars/colors.scss';


// NOTE: Desktop
$widget-width-desktop: 465px;
$widget-height-min-desktop: 600px;
$widget-height-max-desktop: 600px;

$widget-toggler-width-desktop: 40px;

// NOTE: Mobile
$widget-width-mobile: calc(100vw - 16px);
// $widget-height-min-mobile: 600px;
// $widget-height-max-mobile: 600px;
$widget-height-min-mobile: 100dvh;
$widget-height-max-mobile: 100dvh;

// $widget-toggler-width-mobile: 32px;
$widget-toggler-width-mobile: 0px;

.wrapper {
  // border: 1px dashed red;
  // background-color: #fff;

  // overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 0 16px 16px 0;

  position: fixed;
  z-index: 3;
  overflow-y: auto;

  // transform: rotateY(30deg) rotateX(15deg);
  // transform-style: preserve-3d;
  transition: transform .2s;

  box-shadow: 0 5px 10px 0px rgba(7, 7, 7, 0.3);
}
.internalSpace {
  // border: 1px dashed red;

  box-sizing: border-box;
  // padding: 16px;
  width: 100%;
}
.toggler {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  // border: 1px solid lightgray;
  border: none;
  border-radius: inherit;
  color: $color-mui-primary;
}

@media(max-width: #{$sm}px) {
  .wrapper {
    // top: 0;
    // left: 0;
    // min-height: 100dvh;
    // max-height: 100dvh;

    top: 50%;
    left: 0;
    min-height: $widget-height-min-mobile;
    max-height: $widget-height-max-mobile;
    width: $widget-width-mobile;

    transform: translateY(-50%) translateX(calc(-100% + #{$widget-toggler-width-mobile}));
  }
  .isOpened {
    transform: translateY(-50%) translateX(0);
  }
  .toggler {
    min-width: $widget-toggler-width-mobile;
    max-width: $widget-toggler-width-mobile;
  }
  .internalSpace {
    max-width: calc($widget-width-mobile - $widget-toggler-width-mobile);
  }
}
@media(min-width: calc(#{$sm + 1}px + 1px)) {
  .wrapper {
    top: 50%;
    left: 0;
    min-height: $widget-height-min-desktop;
    max-height: $widget-height-max-desktop;
    width: $widget-width-desktop;

    transform: translateY(-50%) translateX(calc(-100% + #{$widget-toggler-width-desktop}));
  }
  .isOpened {
    transform: translateY(-50%) translateX(0);
  }
  .toggler {
    min-width: $widget-toggler-width-desktop;
    max-width: $widget-toggler-width-desktop;
  }
  .internalSpace {
    max-width: calc($widget-width-desktop - $widget-toggler-width-desktop);
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
