@import '~/mui/scss-vars/monitors.scss';

.limitedHeight {
  box-sizing: border-box;
}
@media (max-width: #{$sm}px) {
  .limitedHeight {
    min-height: calc(100svh - 40px);
  }
}
@media (min-width: calc(#{$sm}px + 1px)) {
  .limitedHeight {
    min-height: calc(100svh - 50px);
  }
}
