@import '~/mui/scss-vars/colors.scss';

.wrapper {
  font-family: Montserrat, system-ui;
  border: 2px solid $grey-3;
  border-left: 5px solid $grey-3;

  &:hover {
    border: 2px solid $color-mui-primary;
    border-left: 10px solid $color-mui-primary;
  }
}
