.mobile-search-result-items-wrapper > a {
  border-radius: 8px;
}

.mobile-search-result-items-wrapper > a:first-of-type {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.mobile-search-result-items-wrapper > a:last-of-type {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* Условие для единственного элемента в списке */
.mobile-search-result-items-wrapper > a:only-child {
  border-radius: 24px;
}
