body main.light .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #dedede;
}
body main.gray .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #683434;
}
body main.hard-gray .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #888;
}
body main.dark .description-markdown .blog-standard-blockquote {
  border-left: 4px solid #fff;
}

@media (max-width: 768px) {
  blockquote {
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 1.45rem;
    margin-left: 0px;
  }
  .description-markdown .blog-standard-blockquote pre {
    transform: translateX(-1.45rem) !important;
    width: calc(100% + 32px + 1.45rem) !important;
    padding: 1.45rem !important;
    border-radius: 0px !important;
  }

  .description-markdown .blog-standard-blockquote .code-block-wrapper button {
    display: none;
  }
}
@media (min-width: 769px) {
  blockquote {
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 1.45rem;
    margin-left: 16px;
  }
}
