/* Делаем фокус на видео при наведении (опционально) */
.blog-inline-video-container video {
  transition: filter 0.3s ease;
}

.blog-inline-video-container video:hover {
  filter: brightness(1.05); /* Легкое осветление кадра при наведении */
}

/* Стилизуем полосу прокрутки внутри описания, если текст будет слишком длинным */
.blog-inline-video-container p {
  word-break: break-word;
}

body main.light .blog-inline-video-container {
  color: #000;
  background-color: #ededed;
  box-shadow: none;
}
body main.gray .blog-inline-video-container {
  color: inherit;
  background-color: #ededed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
body main.hard-gray .blog-inline-video-container {
  color: inherit;
  background-color: gray;
  box-shadow: none;
}
body main.dark .blog-inline-video-container {
  color: #fff;
  background-color: rgba(255,255,255,.25);
  box-shadow: none;
}